html {
  min-height: 100%;
}
body {
  background-color: dodgerblue;
  width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #434d57;
}
a {
  text-decoration: none;
}
h4 {
  margin: 12px 0;
  color: #434d57;
  text-decoration: underline;
}
.main-wrapper {
  max-width: 933px;
  height: auto;
  padding: 30px;
  margin: 50px auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px #777;
}
.list-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 90px);
}

.more-off {
  width: calc(100% - 145px);
}
.github-linkto {
  width: 100%;
  background-color: #434d57;
  margin: 3px 0 0 15px;
  padding: 1px 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.github-linkto:hover {
  background-color: dodgerblue;
}
.user-calendar {
  display: flex;
  justify-content: center;
  padding: 15px;
  color: white;
  background-color: #434d57;
}
.user-calendar svg.react-github-calendar__calendar text {
  fill: white !important;
}
.mycontent {
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 15px;
}
.user-content {
  display: flex;
}
.user-content img {
  width: 150px;
  filter: sepia(100%);
  transition-duration: 0.2s;
  cursor: pointer;
}
.user-content .img-detail {
  background-color: #ccc;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  border: none;
}
.user-content .img-detail .img-name {
  transition-duration: 0.2s;
  padding: 12px;
  color: #434d57;
}
.user-content .img-detail a:visited {
  color: #434d57;
}
.user-content .img-detail:hover {
  background-color: dodgerblue;
}
.user-content .img-detail:hover img {
  filter: sepia(0);
}
.user-content .img-detail:hover .img-name {
  background-color: dodgerblue;
  color: white;
}
.user-content .img-detail:hover a {
  color: white;
  text-decoration: underline;
}
.user-content .user-detail {
  padding: 0 15px;
  background-color: #f5f5f5;
  margin-left: 15px;
  width: 100%;
  border: none;
}
.user-content .user-detail ul {
  padding-left: 0;
}
.user-content .user-detail ul li {
  list-style: none;
  font-size: 0.95rem;
  line-height: 1.4rem;
}
.user-content .user-detail .follow-link {
  font-size: 0.85rem;
  font-weight: bold;
  padding: 8px 20px;
  background-color: green;
  width: fit-content;
  color: white;
  border-radius: 4px;
  transition-duration: 0.2s;
  cursor: pointer;
}
.user-content .user-detail .follow-link:hover {
  background-color: #00b300;
}
.following-content {
  display: flex;
  flex-wrap: wrap;
}
.following-content .h4-container {
  width: 110px;
}
.following-content .follower-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  display: inline-flex;
  margin-left: 15px;
  padding: 10px;
  width: 100%;
}
.following-content .follower-list a {
  display: inline-flex;
  padding: 0 10px;
  font-size: 0.85rem;
  font-weight: bold;
  color: #2d333a;
}
.following-content .follower-list .follower-tab {
  display: flex;
  background-color: #dcdcdc;
  border-radius: 4px;
  padding-right: 10px;
  transition-duration: 0.2s;
  margin-bottom: 15px;
  cursor: pointer;
}
.following-content .follower-list .follower-tab img {
  width: 50px;
  border-radius: 4px;
  padding-right: 10px;
  filter: sepia(100%);
  transition-duration: 0.2s;
}
.following-content .follower-list .follower-tab p {
  padding-top: 4px;
}
.following-content .follower-list .follower-tab:hover {
  background-color: dodgerblue;
  color: white;
}
.following-content .follower-list .follower-tab:hover img {
  filter: sepia(0);
}
.following-content .follower-list .follower-tab:hover p {
  text-decoration: underline;
}
.repo-list {
  display: flex;
  flex-wrap: wrap;
}
.repo-list .repos-listed {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  display: inline-flex;
  margin-left: 15px;
  padding: 10px;
  width: 100%;
}
.repo-list .repo-item {
  display: flex;
  width: fit-content;
  height: 30px;
  align-items: center;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  background-color: #dcdcdc;
  transition-duration: 0.2s;
}
.repo-list .repo-item img {
  height: 20px;
  margin-right: 8px;
}
.repo-list .repo-item a {
  font-weight: bold;
  color: #434d57;
}
.repo-list .repo-item:hover {
  background-color: dodgerblue;
}
.repo-list .repo-item:hover img {
  filter: invert(100%);
}
.repo-list .repo-item:hover a {
  color: white;
  text-decoration: underline;
}
form {
  display: flex;
  font-weight: bold;
}
input {
  padding: 12px;
  font-size: 16px;
  color: #2d333a;
  outline: none;
  margin-right: 5px;
  width: 400px;
}
button {
  border: none;
  padding: 14px 12px;
  color: white;
  font-size: 14px;
  background-color: #e63e00;
  outline: none;
  margin: 0;
  cursor: pointer;
}
button:hover {
  background-color: #b33000;
}
.err {
  padding: 12px;
  content: "";
  background-color: pink;
  margin-left: 5px;
  border: 2px solid #ff5a77;
  color: #ff274d;
}
